
<section class="contact-text">
  <div class="container">
    <h2 class="text-center"><strong>Technology</strong></h2>
    <h3 class='row text-center'><strong>Frontend</strong></h3>
    <div class='row background-layout'>
      <ul>
        <li><strong><%=link_to 'Bootstrap','http://getbootstrap.com/',:target => '_blank'%></strong></li>
        <li><strong><%=link_to 'Sass','http://sass-lang.com/' ,:target => '_blank'%></strong></li>
        <li><strong><%=link_to 'Jquery','http://jquery.com/',:target => '_blank'%></strong></li>
        <li><strong><%=link_to 'Ajax','http://www.w3schools.com/ajax/',:target => '_blank'%></strong></li>
      </ul>
    </div>
  </div>
</section>
<section class="contact-text">
  <div class="container">
    <h3 class='text-center'><strong>Backend</strong></h3>
    <div class='row background-layout'>
      <ul>
        <li><strong><%= link_to 'Ruby','https://www.ruby-lang.org/en/',:target => '_blank'%></strong></li>
        <li><strong><%= link_to 'Ruby on Rails','http://rubyonrails.org/',:target => '_blank'%></strong></li>
        <li><strong><%= link_to 'Heroku','https://www.heroku.com/',:target => '_blank'%></strong></li>
        <li><strong><%= link_to 'Postgre','http://www.postgresql.org/',:target => '_blank'%></strong></li>
      </ul>
    </div>
  </div>
</section>
<section class="contact-text">
  <div class="container">
    <h3 class='row text-center'><%= link_to '<strong>Source Code </strong><i class="fa fa-github"></i>'.html_safe, 'https://github.com/surajneupane55/ReaktorUrlShorteningTask', :target => "_blank" %></h3>
  </div>
  </div>
</section>
